*{
    margin: 0px;
    padding: 0px;
}
.fetaured{
    width: 100%;
    max-width: 1024px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    z-index: 11;
}
.featuredItem{
    position: relative;
    color: white;
    border-radius: 10px;
    overflow: hidden;
    height: 250px;


}
.featuredImg{

    width: 100%;
    object-fit: cover;
  
    /* display: flex; */
}
.featureTitle{
    
    position:  absolute;
    bottom: 60px;
    object-fit: cover;
    
    left: 33px;
    color: white;
    

}
